# Игнорирование .env файлов
*.env

# Игнорирование node_modules папок
node_modules/

# Игнорирование других временных файлов и директорий
*.log
*.tmp
dist/
build/
coverage/

# Игнорирование операционных системных файлов
.DS_Store
Thumbs.db

# Игнорирование редакторов и IDE файлов
.vscode/
.idea/
*.swp